<footer>Copyright &copy; 2018 김민혁 All rights reserved.</footer>
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>