<% include ./header.ejs %>

<form action="" method="post">
	<input type="hidden" name="action" value="join">
	<input type="text" name="mb_id" placeholder="아이디">
	<input type="password" name="mb_pw" placeholder="비밀번호">
	<input type="text" name="mb_name" placeholder="이름">
	<button type="submit">회원가입</button>
</form>

<a href="/">메인으로</a>

<% include ./footer.ejs %>