<% include ./header.ejs %>

<form action="" method="post">
	<input type="hidden" name="action" value="login">
	<input type="text" name="mb_id" placeholder="아이디">
	<input type="password" name="mb_pw" placeholder="비밀번호">
	<button type="submit">로그인</button>
</form>
<a href="/">메인으로</a>

<% include ./footer.ejs %>